.section-storey__grid {
    display: flex;
    align-items: center;
    margin-bottom: rem(50);

    &>.ingrid-2 {
        margin-bottom: rem(50);
    }

    .ibg {
        min-height: rem(565);
        width: 100%;
    }

    p {
        font-size: rem(18);
        line-height: rem(32);
        font-weight: 400;
        color: var(--color-grey);
        padding-top: rem(16);
        padding-bottom: rem(16);
    }

    .inner__grid {
        .ingrid-2 {
            display: flex;
            justify-content: start;
            align-items: center;
            padding-top: rem(10);
            padding-bottom: rem(10);
        }

        .checkbox-doll {
            margin-right: 1rem;
            flex-shrink: 0;
            align-self: start;
            margin-top: rem(3);
        }

        span {
            font-size: rem(16);
            line-height: rem(24);
            font-weight: 400;
            color: var(--color-black);
        }
    }
}

@include mobile {
    .section-storey__grid {
        margin-bottom: rem(0);

        .ingrid-2 {
            width: 100%;
            text-align: center;
            margin-bottom: rem(25);

            .inner__grid {
               display: none;
            }
            .ibg {
                min-height: rem(360);
                width: 100%;
            }
        }
    }
}

@include phone {}