// ширина контейнера из макета
$container-width: 1240;
// отступы безопасности для контейнера
$main-offset: 15;
// максимальная ширина страницы
$max-width: 1920;
// минимальная ширина телефона
$min-width: 320;
// ширина контейнера с учетом padding слева и справа
$max-width-container: $container-width + ($main-offset * 2);
// $max-width-container: $container-width ;
// $header-height: 100;
// $footer-height: 100;

:root {
	--container-width: 1240px;
	--container-padding: 15px;

	// ------------ Fonts Vars -------------
	--font-main: "SFProText", sans-serif;
	--font-main-size: 16px;
	--font-main-weight: 400;
	--font-accent: 'SFProDisplay', sans-serif;
	--font-titles: var(--font-accent);
	// -------------------------------------
	

	// ------------ Colors Vars -------------
	--color-main: rgb(66, 149, 228);   //--v--
	--color-main-hover:rgb(66, 149, 228, 0.7);	
	--color-main-btn: violet;           //--v--
	--color-main-btn-hover: rgb(197, 46, 197);
	--color-accent: #ac182c;
	--color-accent-hover:#be5b5b;
	--color-tile: rgb(0,0,0,0.03);	//--v--
	--color-link: #2578c8;      
	--color-white: #fff;           //--v--
	--color-black:rgb(22, 28, 36);	//--v--
	--color-grey: rgb(69, 79, 91); //--v--
	--color-box: rgba(234,234,234);//--v--
	--color-page-bg: #fff;         //--v--
	--color-bg-light: rgb(242, 248, 255);
	--color-disable: rgb(173, 173, 173); //--v--
	
	
	--transition: 0.3s ease-in-out;  //--v--
	--radius: 0.25rem;	              //--v--
	
	--shadow: 0 0 0 2px #00f;
	--shadow-hover: 0 0 5px 0 #{rgba(#000, 10%)}, 0 0 10px 0 #{rgba(#000, 10%)}, 0 0 15px 0 #{rgba(#000, 10%)};
	
}

.dark {
    --color-page-bg: #252526;
    --color-main: #fff;
}
